<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBeAgendaRech;Integrated Security=True;Pooling=False"
		  name="DBeAgendaRech"
		  providerName="System.Data.SqlClient"
    />
		<add
		connectionString="Data Source=F:\App\Visual Studio Repos\e-Agenda-master\Agenda.db;Integrated Security=True;Pooling=False"
		name="Agenda"
		providerName="System.Data.SQLite"
    />
	</connectionStrings>

	<appSettings>
		<add key ="bancodedados" value="DBeAgendaRech"/>
	</appSettings>
</configuration>