<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add
      connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBeAgendaRech;Integrated Security=True;Pooling=False"
      name="DBeAgendaRech"
      providerName="System.Data.SqlClient"
    />
	  <add
      connectionString="Data Source=..\..\Agenda.db;Integrated Security=True;Pooling=False"
      name="dbeagendalite"
      providerName="System.Data.SQLite"
    />
  </connectionStrings>

	<appSettings>
		<add key ="bancodedados" value="dbeagendalite"/>
	</appSettings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>

</configuration>